extends layout

block content
  h1(class='page-title')= title
  p(class='welcome-message') Welcome to #{title}
  
  h1(class='home-header') 
    | This is the home page of the application
  
  p(class='description') 
    | This is a simple web application using Express and Jade.