doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/wedding.css')
    link(rel='stylesheet', href='/stylesheets/swiper-bundle.min.css')
    link(rel='stylesheet', href='/stylesheets/aos.css')

    if pageStyles
      link(rel='stylesheet', href=pageStyles)

  body(class='main-body')
    header
      nav.navbar.hotel-navbar
        ul.nav-list
          li(class=(currentUrl === '/' ? 'active' : ''))
            a(href='/') Home
          li(class=(currentUrl === '/weddings' ? 'active' : ''))
            a(href='/weddings') Weddings
          li(class=(currentUrl === '/fashion' ? 'active' : ''))
            a(href='/fashion') Fashion
          li(class=(currentUrl === '/personal' ? 'active' : ''))
            a(href='/personal') Personal
          li.contact-cta
            a(href='/contact') Contact Us

    block content

    footer
      .footer-grid 
        .footer-grid-item
          .logo Professional Photography
          p.footer-text(style="font-size:10px") Our team of experienced photographers captures the essence of every moment with creativity and passion.
    
        .footer-grid-item
          .logo Links
          .footer-links
             a(href="/") Home
             a(href="/weddings") Weddings
             a(href="/fashion") Fashion
             a(href="/personal") Personal
    
        .footer-grid-item
          .logo Socials
          .footer-links
             a(href="https://facebook.com/")
               i.fab.fa-facebook-f
               |  Facebook
             a(href="https://youtube.com")
               i.fab.fa-youtube
               |  YouTube
             a(href="https://linkedin.com")
               i.fab.fa-linkedin-in
               |  LinkedIn
             a(href="https://twitter.com")
               i.fab.fa-twitter
               |  Twitter


        .footer-grid-item
          .logo Reach Out
          .footer-links
             a(href="mailto:professionalmail@gmail.com")
               i.fas.fa-envelope
               |  Email Us
             a(href="tel:+12345678901")
               i.fas.fa-phone
               |  Call Us

      .footer-bottom
        p.footer-text(style="font-size:9px") 123 Studio St, New York, NY
        p.footer-text(style="font-size:9px") © 2023 Professional Photography. All rights reserved.



    script(src="/javascript/swiper-bundle.min.js")
    script(src="/javascript/aos.js")
    script(src="/javascript/main.js")
